*{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

html, body{
	height: 100%;
}

body{
	background: url(../img/bg-space.svg);
	overflow: hidden;
}

.overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: rgba( 0, 0, 0, 0.5 );
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.overlay > *{
	display: block;
    margin: 0 auto;
    background: #fff1e1;
    box-sizing: border-box;
    padding: 2%;
    width: 70%;
    border-radius: 5px;
}

.overlay.game-over form{
	display: none;
}

.overlay.game-over #game-over{
	display: block;
}

#game-over{
	display: none;
}

.overlay *{
	font-size: 30px;
	font-family: 'Galada', cursive;
	color: #333;
}

.overlay label{
	display: block;
}

.overlay .inner{
	position: relative;
}

.overlay input[type=text]{
    background: #fff;
    border: 2px solid #ccc;
    font-size: 30px;
    border-radius: 5px;
    width: 80%;
    padding: 0 2%;
    box-sizing: border-box;
    display: block;
    float: left;
}

.overlay input[type=submit],
.overlay button{
    border: none;
    background: #1d2152;
    color: #fff;
    width: 18%;
    border-radius: 5px;
    margin-left: 2%;
    display: block;
    float: left;
}

.overlay button{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 1% 0;
}

.pad, .center{
	float: left;
	height: 100%;
	position: relative;
}

.pad{
	width: 45%;
}

.pad  .area{
	background-image: url(img/bg-control-pad.svg);
	background-size: contain;
	border-radius: 50%;
	border: 2px solid rgba( 255, 255, 255, 0.1 );
	margin: 0 auto;
	position: relative;
}

.pad  .area .angle-indicator{
    background-image: url(img/bg-control-angle-indicator.svg);
    position: absolute;
    height: 50%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotate(20deg);
    transform-origin: bottom center;
    pointer-events: none;
}

.fullscreen-toggle{
	width: 80%;
	margin: 0 10%;
	height: 30%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.6;
	background-image: url(img/android-expand.svg);
}

.connection-indicator.red{
	background-position: 0 0;
}

.connection-indicator.yellow{
	background-position: 0 50%;
}

.connection-indicator.green{
	background-position: 0 100%;
}

.connection-indicator{
    width: 40%;
    height: 20%;
    left: 30%;
    position: absolute;
    bottom: 10%;
    background-size: cover;
    background-image: url(../img/connection-state.svg);
}

.center{
	width: 10%;
}